table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;

}

.name {
    display: center;
}
.info-container {
    display: flex;
    flex-direction: column
    
}
.subtitle{
    
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex;
    align-items: left;
    margin-right: 10%; /* Espacio entre el subtítulo y el texto */
}

p {
    text-align: center;
    width: 35%;

}


.nombre{
    font-size: 18px;
    text-align: center;


;
    
}

th, td {
    border: 0px solid #f4eded;
    padding: 12px;
    text-align: center;

}

th {
    background-color:white
    
}

.col1{
    background-color: #000000;
    color: white;
    height: 20x;
    transform: translateY(-50px);
}

.col{
    transform: translateY(-50px);
}

button{
    width: 15%;
    transform: translateX(1000px);
    
}


